{% extends "layouts/master.twig" %}

{% block content %}
	{% for item in post.get_field('amenities') %}
	<a data-id="{{ loop.index }}" href="">{{ item.amenity_group_title}}</a>
	{% endfor %}

	{% for item in post.get_field('amenities') %}
	<div id="amenity-list-{{ loop.index }}">
		<ul>
			{% for amenity in item.amenity_item %}
			<li>
				{{ amenity.amenity_title }}
				<img src="{{ TimberImage(amenity.amenity_image).src }}" alt="{{ amenity.amenity_image.alt }}">
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}

	{% for item in post.get_field('amenities') %}
	<div id="amenity-gallery-{{ loop.index }}">
	{% for image in item.amenity_group_gallery %}
	    <img src="{{ TimberImage(image) }}" alt="{{ image.alt }}">
	{% endfor %}
	</div>
	{% endfor %}

	<main class="main-content">
		<div class="container">
			<div class="block-amenity">
				<div class="block-amenity__item">
					<header>
						<div class="row">
							<div class="col-md-7">
								<h2 class="block-amenity__item__title">INTERIOR FINISHES</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad.
								</p>
							</div>
						</div>
					</header>
					<div class="block-amenity__item__detail">
						<div class="row">
							<div class="col-md-7">
								<div class="block-amenity__item__gallery">
									<div class="gallery-slider">
										<div><img src="{{theme.link}}/assets/images/amen1.jpg" class="w-100" alt="hero-image {{site.title}}"></div>
										<div><img src="{{theme.link}}/assets/images/amen2.png" class="w-100" alt="hero-image {{site.title}}"></div>
										<div><img src="{{theme.link}}/assets/images/amen3.jpg" class="w-100" alt="hero-image {{site.title}}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<div class="block-amenity__item__list">
									<ul class="list-default">
										<li><a href="#" title="">Granite countertops</a></li>
										<li><a href="#" title="">Designer backsplash</a></li>
										<li><a href="#" title="">Wood-style flooring</a></li>
										<li><a href="#" title="">Solid wood cabinetry</a></li>
										<li><a href="#" title="">Brushed nickel hardware</a></li>
										<li><a href="#" title="">Decorative light fixtures</a></li>
										<li><a href="#" title="">Upper and under cabinet lighting</a></li>
										<li><a href="#" title="">Stainless steel appliances</a></li>
										<li><a href="#" title="">Washer and dryer</a></li>
										<li><a href="#" title="">Keyless entry</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="block-amenity__item">
					<header>
						<div class="row">
							<div class="col-md-7">
								<h2 class="block-amenity__item__title">COMMUNITY AMENITIES</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad.
								</p>
							</div>
						</div>
					</header>
					<div class="block-amenity__item__detail">
						<div class="row">
							<div class="col-md-7">
								<div class="block-amenity__item__gallery">
									<div class="gallery-slider">
										<div><img src="{{theme.link}}/assets/images/amen3.jpg" class="w-100" alt="hero-image {{site.title}}"></div>
										<div><img src="{{theme.link}}/assets/images/amen2.png" class="w-100" alt="hero-image {{site.title}}"></div>
										<div><img src="{{theme.link}}/assets/images/amen1.jpg" class="w-100" alt="hero-image {{site.title}}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<div class="block-amenity__item__list">
									<ul class="list-default">
										<li><a href="#" title="">24-hour concierge</a></li>
										<li><a href="#" title="">Private parking</a></li>
										<li><a href="#" title="">Amenity deck</a></li>
										<li><a href="#" title="">Glass-sided sky pool that hangs over the building’s edge</a></li>
										<li><a href="#" title="">Spa</a></li>
										<li><a href="#" title="">BBQ area</a></li>
										<li><a href="#" title="">Outdoor theater</a></li>
										<li><a href="#" title="">Social spaces</a></li>
										<li><a href="#" title="">Fire pits</a></li>
										<li><a href="#" title="">Outdoor exercise area</a></li>
										<li><a href="#" title="">Resident lounge with TV</a></li>
										<li><a href="#" title="">Entertainment kitchen</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

{% block body_js %}{% endblock %}
