{% extends "layouts/master.twig" %}

{% block header %}
      {% include 'partials/header-floorplan.twig' %}
{% endblock %}

{% block content %}
	{% set message_no_result = global.message_no_result %}
	{% set bedrooms = [] %}
	{% for floorplan in floorplans %}
		{% if floorplan.bedroomcount not in bedrooms %}
			{% set bedrooms = bedrooms|merge([floorplan.bedroomcount]) %}
		{% endif %}
	{% endfor %}

	<div class="residences">
		<div class="container">
			<div class="residences__filters">
				<div class="input-group">
					<select id="fp-filters--bedrooms" class="filter__bedroom">
						<option value="">BEDROOMS</option>
						{% for bedroom in bedrooms|sort %}
							{% if bedroom ==0 %}
								<option value="{{bedroom ~ 'bed'}}">Studio</option>
							{% else %}
								<option value="{{bedroom ~ 'bed'}}">{{bedroom}} {{ bedroom > 1 ? 'BEDROOMS' : 'BEDROOM' }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>

				<div class="input-group">
					<select id="fp-filters--price">
						<option value="">PRICE</option>
						{% for price in global.price_list %}
						<option value="{{ price.value }}">{{ price.text }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="input-group move-in">
					<input type="text" class="datepicker apartment-date trans" placeholder="Move In">
				</div>
			</div>

			<div class="residences__container">
				{% for floorplan in floorplans %}

					{# Units proccessing #}
					{% set engrain_floorplan_id = floorplan.floorplan_id %}
					{% set units = floorplan.property_id and engrain_floorplan_id ? fn('engrain::get_units', floorplan.property_id, engrain_floorplan_id) : '' %}

					{% set move_in_date = '' %}
					{% set priceMin = '' %}
					{% set priceRange = '' %}

					{% set noAvail = true %}
					{% set isNow = false %}

					{% if units %}
						{% for unit in units %}

							{% if unit.available_on %}
								{% set noAvail = false %}
								{% if unit.price %}
									{% set priceMin = not priceMin ? unit.price : ( unit.price < priceMin ? unit.price : priceMin ) %}
								{% endif %}

								{% set filter_date = fn('unitDateFilter', unit.available_on) %}
								{% set isNow = fn('isDate1GreaterThanDate2', now | date('m-d-Y'), unit.available_on, true) ? true : isNow %}
							{% endif %}

							{% set date = unit.available_on ? fn('unitDateFilter', unit.available_on, false) : '' %}


							{% if date %}
								{% set move_in_date = fn('getFutureDate', date, move_in_date) %}
							{% endif %}

						{% endfor %}
					{% endif %}

					{% if priceMin and not noAvail %}
						{% if priceMin < 1750  %}
							{% set priceRange = 'under-1750' %}
						{% elseif priceMin >= 1750 and priceMin < 2250 %}
							{% set priceRange = '1750-2250' %}
						{% elseif priceMin >= 2250 and priceMin < 2750 %}
							{% set priceRange = '2250-2750' %}
						{#
						{% elseif priceMin >= 2000 and priceMin < 2500 %}
							{% set priceRange = '2000-2500' %}
						{% elseif priceMin >= 2500 and priceMin < 3000 %}
							{% set priceRange = '2500-3000' %}
						{% elseif priceMin >= 3000 and priceMin <= 3500 %}
							{% set priceRange = '3000-3500' %}
						#}
						{% else %}
							{% set priceRange = '2750-plus' %}
						{% endif %}
					{% endif %}

					<div id="fp{{ floorplan.id }}" class="residences__item {{ floorplan.bedroomcount matches '/^[-+]?[0-9]*\\.?[0-9]+$/' ? floorplan.bedroomcount ~ 'bed' : floorplan.bedroomcount }} {{ priceRange ? 'price-' ~ priceRange : '' }} {{ move_in_date ? 'has-date date-' ~ move_in_date : '' }} {{ isNow ? 'now' : '' }}" data-date="{{ move_in_date ? move_in_date : '' }}">
						<div class="residences__item--image">
							<img src="{{ floorplan.floorplan_image }}" alt="{{ floorplan.name }}" class="img-responsive" />
						</div>

						<div class="residences__item--main">
							<div class="residences__item--info">
								<p class="room__name">{{ floorplan.name }}</p>

								{% if floorplan.bedroomcount == 0 %}
									{% set room = 'Studio' %}
								{% elseif not ( floorplan.bedroomcount matches '/^[-+]?[0-9]*\\.?[0-9]+$/' ) %}
									{% set room = 'Row Home' %}
								{% elseif ( floorplan.bedroomcount == 1 ) %}
									{% set room = floorplan.bedroomcount ~ ' Bedroom' %}
								{% else %}
									{% set room = floorplan.bedroomcount ~ ' Bedrooms' %}
								{% endif %}

								{% if ( floorplan.bathroomcount <= 1 ) %}
									{% set bath = floorplan.bathroomcount ~ ' Bath' %}
								{% else %}
									{% set bath = floorplan.bathroomcount ~ ' Baths' %}
								{% endif %}

								<div class="room__info"><span>{{ room }}</span> <span>{{ bath }}</span></div>
								<div class="room__area">{{ floorplan.areamin|number_format }}{% if floorplan.areamax %}, {{ floorplan.areamax|number_format }} {% endif %} Sq Ft</div>
								<p class="room__price">{{ priceMin ? 'Starting at $' ~ priceMin | number_format ~ ' / month' : global.pricing_call_label_text }}</p>
							</div>

							<div class="residences__item--view">
								<a href="{{ floorplan.floorplan_link }}" style="pointer-events: {{ priceMin ? 'visible' : 'none'}};">View Details</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="no-filters-results filters-orig-message">
				{{message_no_result}}
			</div>
			<div class="back-to-top">
				<a href="">Back to top</a>
			</div>
		</div>
	</div>
{% endblock %}
