{% extends "layouts/master.twig" %}

{% block header %}
      {% include 'partials/header-floorplan.twig' %}
{% endblock %}

{% block content %}
	{% set bedrooms = [] %}
	{% for floorplan in floorplans %}
		{% if floorplan.bedroomcount not in bedrooms %}
			{% set bedrooms = bedrooms|merge([floorplan.bedroomcount]) %}
		{% endif %}
	{% endfor %}

	<div class="residences">
		<div class="container">
			<div class="residences__filters">
				<div class="input-group">
					<select id="fp-filters--bedrooms" class="filter__bedroom">
						<option value="false">BEDROOMS</option>
						{% for bedroom in bedrooms|sort %}
							{% if bedroom ==0 %}
								<option value="{{bedroom}}">Studio</option>
							{% else %}
								<option value="{{bedroom}}">{{bedroom}} {{ bedroom > 1 ? 'BEDROOMS' : 'BEDROOM' }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>

				<div class="input-group">
					<select id="fp-filters--price">
						<option value="false">PRICE</option>
						{% for price in global.price_list %}
						<option value="{{ price.value }}">{{ price.text }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="input-group move-in">
					<input type="text" id="datepicker" placeholder="Move In">
				</div>
			</div>

			<div class="residences__container">
				{% for floorplan in floorplans %}

					{# Units proccessing #}
					{% set engrain_ap_id = floorplan.floorplan_id %}
					{% set units = floorplan.property_id and engrain_ap_id ? fn('engrain::get_units', floorplan.property_id, engrain_ap_id) : '' %}

					<div id="fp{{ floorplan.id }}" class="residences__item {{ floorplan.bedroomcount }}-room">
						<div class="residences__item--image">
							<img src="{{ floorplan.floorplan_image }}" alt="{{ floorplan.name }}" class="img-responsive" />
						</div>

						<div class="residences__item--main">
							<div class="residences__item--info">
								<p class="room__name">{{ floorplan.name }}</p>
								<div class="room__info"><span>{{ floorplan.bedroomcount }} Bedroom</span> <span>{{ floorplan.bathroomcount }} Bathroom</span></div>
								<div class="room__area">{{ floorplan.areamin|number_format }}{% if floorplan.areamax %}, {{ floorplan.areamax|number_format }} {% endif %} Sq Ft</div>
								<p class="room__price">{{ floorplan.pricemin ? 'Starting at $' ~ floorplan.pricemin | number_format ~ ' / month' : global.pricing_call_label_text }}</p>
							</div>

							<div class="residences__item--view">
								<a href="{{ floorplan.floorplan_link }}" style="pointer-events: {{ priceMin ? 'visible' : 'none'}};">View Details</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="back-to-top">
				<a href="">Back to top</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block body_js %}
	<!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
	<script type="text/javascript">
		var floorplans = {{ floorplans_json|raw }};
		// var price_range = {{ price_range|json_encode()|raw }};

		// Function to get query variable from URL
		function getQueryVariable(variable) {
			var query = window.location.search.substring(1);
			var vars = query.split("&");
			for (var i=0;i<vars.length;i++) {
				var pair = vars[i].split("=");
				if(pair[0] == variable){return pair[1];}
			}
			return ''
		}

		// Sets the default Filter for when the page Loads
		var defaultFilters = {
			bedroom: getQueryVariable('quick-search--bedroom'),
			date: getQueryVariable('quick-search--date'),
			priceRange: getQueryVariable('quick-search--price'),
		}

		/* Select option for bedroom filter */
		// if (defaultFilters.bedroom !== null && defaultFilters.bedroom !== '') {
		// 	$('#fp-filters--bedrooms').val(decodeURIComponent(defaultFilters.bedroom));
		// } 

		if (defaultFilters.bedroom !== null && defaultFilters.bedroom !== '') {
			$('#fp-filters--bedrooms li a[data-value="' + defaultFilters.bedroom + '"]').parent().addClass('selected');
		} else {
			$('#fp-filters--bedrooms li a[data-value="false"]').parent().addClass('selected');
		}

		if (defaultFilters.date !== null && defaultFilters.date !== '') {
			$('#fp-filters--date').val(decodeURIComponent(defaultFilters.date));
		}

		if (defaultFilters.priceRange !== null && defaultFilters.priceRange !== '') {
			$('#fp-filters--price').val(decodeURIComponent(defaultFilters.priceRange));
		}
	</script>
	<script type="text/javascript" src="{{script_url('floorplans')}}"></script>
	-->

	<script>
		var properties = [
		  {
		      "id":"0",
		      "name":"{{ global.name }}",
		      "address":"{{ global.street }}",
		      "city":"{{ global.city }}",
		      "state":"{{ global.state }}",
		      "zip":"{{ global.zip }}",
		      "phone":"{{ global.phone }}",
		      "latitude":"{{ global.map_location.lat }}",
		      "longitude":"{{ global.map_location.lng }}"
		  }
		];
		var site_url = "{{ theme.link }}";
		var google_map_styler = {{ global.google_map_styler }};
  	</script>

  	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ global.api_key }}"></script>
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.24/gmaps.min.js"></script>
  	<script type="text/javascript" src="{{script_url('maps')}}"></script>
{% endblock %}
