{% extends "layouts/master.twig" %}

{% block content %}
	{% for item in post.get_field('amenities') %}
	<a data-id="{{ loop.index }}" href="">{{ item.amenity_group_title}}</a>
	{% endfor %}

	{% for item in post.get_field('amenities') %}
	<div id="amenity-list-{{ loop.index }}">
		<ul>
			{% for amenity in item.amenity_item %}
			<li>
				{{ amenity.amenity_title }}
				<img src="{{ TimberImage(amenity.amenity_image).src }}" alt="{{ amenity.amenity_image.alt }}">
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}

	{% for item in post.get_field('amenities') %}
	<div id="amenity-gallery-{{ loop.index }}">
	{% for image in item.amenity_group_gallery %}
	    <img src="{{ TimberImage(image) }}" alt="{{ image.alt }}">
	{% endfor %}
	</div>
	{% endfor %}

	<main class="main-content">
		<div class="container">
			<div class="block-amenity">
				<div class="block-amenity__item">
					<header>
						<div class="row">
							<div class="col-md-7">
								<h2 class="block-amenity__item__title">INTERIOR FINISHES</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad.
								</p>
							</div>
						</div>
					</header>
					<div class="block-amenity__item__detail">
						<div class="block-amenity__item__gallery">
							<div class="gallery-slider">
								<div><img src="{{theme.link}}/assets/images/amen1.jpg" class="w-100" alt="hero-image {{site.title}}"></div>
								<div><img src="{{theme.link}}/assets/images/amen2.png" class="w-100" alt="hero-image {{site.title}}"></div>
								<div><img src="{{theme.link}}/assets/images/amen3.jpg" class="w-100" alt="hero-image {{site.title}}"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="block-amenity__item">
					<header>
						<div class="row">
							<div class="col-md-7">
								<h2 class="block-amenity__item__title">COMMUNITY AMENITIES</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad.
								</p>
							</div>
						</div>
					</header>
					<div class="block-amenity__item__detail">
						<div class="block-amenity__item__gallery">
							<div class="gallery-slider">
								<div><img src="{{theme.link}}/assets/images/amen3.jpg" class="w-100" alt="hero-image {{site.title}}"></div>
								<div><img src="{{theme.link}}/assets/images/amen2.png" class="w-100" alt="hero-image {{site.title}}"></div>
								<div><img src="{{theme.link}}/assets/images/amen1.jpg" class="w-100" alt="hero-image {{site.title}}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

{% block body_js %}{% endblock %}
