{% extends "layouts/master.twig" %}

{% block content %}
	<main class="main-content">
		<div class="container">
			<section class="block-location" id="locations">
				<div class="row">
					<div class="col-md-7">
						<div id="map-area" style="height: 650px;"></div>
					</div>
					<div class="col-md-5 block-location__detail">
						<div class="block-location__icon">
							<ul>
								{% for location_category in locations %}
								<li class="category category-{{ location_category.location_category_name|lower|replace({' ': '_'}) }}">
									<a data-category="{{ location_category.location_category_id }}" href="#">
										{% for icon in location_category.location_category_icon %}
											{{ get_svg_icon( 'icon-' ~ icon.icon_name, icon.icon_view) }}
											{{ get_svg_icon( 'icon-' ~ icon.icon_name ~ '-hover', icon.icon_view) }}
										{% endfor %}
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="block-location__list">
							{% for location_category in locations %}
							<div class="neighborhood-list-wrap is-scroll" id="{{ 'content' ~ location_category.location_category_id }}">
								<div class="wrap-absolute" data-content>
									<ul class="neighborhood-list" id="{{ 'results' ~ location_category.location_category_id }}">
                                        {# locations get dumped into here #}
									</ul>
								</div>
								<div class="wrap-scroll wrap-vertical" data-scroll>
									<div class="slider-scroll" class="hidden-xs"></div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
			
			{% set local_area_items = post.get_field('local_area_items') %}
			{% if local_area_items %}
				{% for local in local_area_items %}
				<section class="block-general" id="area_views">
					<div class="row">
						<div class="col-md-8">
							<header>
								<h2 class="block-general__title">{{ local.title }}</h2>
	                            <p>{{ local.description }}</p>
							</header>
						</div>
					</div>

					{% if local.area %}
					<div class="row">
						{% for item in local.area %}
						<div class="block-general__item col-sm-6">
							<a href="{{ item.link }}">
								<div class="block-general__item__thumb">
									<img src="{{Image(item.image).src|resize(750, 430)}}" class="w-100">
								</div>
								<div class="block-general__item__detail">
									<p>{{ item.description }}</p>
								</div>
							</a>
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</section>
				{% endfor %}
			{% endif %}
		</div>
	</main>
{% endblock %}

{% block body_js %}
	<script>
		var location_categories = {{ locations_json|raw }};
		var properties = [  
			{
				"id":"0",
				"name":"{{ global.name }}",
				"address":"{{ global.street }}",
				"city":"{{ global.city }}",
				"state":"{{ global.state }}",
				"zip":"{{ global.zip }}",
				"phone":"{{ global.phone }}",
				"latitude":"{{ global.map_location.lat }}",
				"longitude":"{{ global.map_location.lng }}"
			}
		];
		var site_url = "{{ theme.link }}";
		var google_map_styler = {{ global.google_map_styler }};
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ global.api_key }}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.24/gmaps.min.js"></script>
	<script type="text/javascript" src="{{script_url('maps')}}"></script>
{% endblock %}
