{% extends "layouts/master.twig" %}

{% block content %}
	<main class="main-content">
		<div class="container">
			<section class="block-location">
				<div class="row">
					<div class="col-md-7">
					</div>
					<div class="col-md-5 block-location__detail">
						<div class="block-location__icon">
							<ul>
								<li>
									<a href="#"><img src="{{theme.link}}/assets/images/icons/icon-spoon.svg"></a>
								</li>
								<li>
									<a href="#"><img src="{{theme.link}}/assets/images/icons/icon-bag.svg"></a>
								</li>
								<li>
									<a href="#"><img src="{{theme.link}}/assets/images/icons/icon-cake.svg"></a>
								</li>
								<li>
									<a href="#"><img src="{{theme.link}}/assets/images/icons/icon-ticket.svg"></a>
								</li>
								<li>
									<a href="#"><img src="{{theme.link}}/assets/images/icons/icon-bicycle.svg"></a>
								</li>
							</ul>
						</div>
						<div class="block-location__list">
							<ul>
								<li>
									<p class="location-name">LOCATION NAME</p>
									<p>12345 Street Address City, CO 12345</p>
									<p>123 456 7890 </p>
									<p>webaddress.com</p>
								</li>
								<li>
									<p class="location-name">LOCATION NAME</p>
									<p>12345 Street Address City, CO 12345</p>
									<p>123 456 7890 </p>
									<p>webaddress.com</p>
								</li>
								<li>
									<p class="location-name">LOCATION NAME</p>
									<p>12345 Street Address City, CO 12345</p>
									<p>123 456 7890 </p>
									<p>webaddress.com</p>
								</li>
								<li>
									<p class="location-name">LOCATION NAME</p>
									<p>12345 Street Address City, CO 12345</p>
									<p>123 456 7890 </p>
									<p>webaddress.com</p>
								</li>
								<li>
									<p class="location-name">LOCATION NAME</p>
									<p>12345 Street Address City, CO 12345</p>
									<p>123 456 7890 </p>
									<p>webaddress.com</p>
								</li>
								<li>
									<p class="location-name">LOCATION NAME</p>
									<p>12345 Street Address City, CO 12345</p>
									<p>123 456 7890 </p>
									<p>webaddress.com</p>
								</li>
								<li>
									<p class="location-name">LOCATION NAME</p>
									<p>12345 Street Address City, CO 12345</p>
									<p>123 456 7890 </p>
									<p>webaddress.com</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="block-general">
				<div class="row">
					<div class="col-md-8">
						<header>
							<h2 class="block-general__title">AREA VIEWS</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad.
							</p>
						</header>
					</div>
				</div>
				<div class="row">
					<div class="block-general__item col-sm-6">
						<div class="block-general__item__thumb">
							<img src="{{theme.link}}/assets/images/amen3.jpg" class="w-100">
						</div>
						<div class="block-general__item__detail">
							<p>Lorem ipsum dolor sit amet conse ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
						</div>
					</div>

					<div class="block-general__item col-sm-6">
						<div class="block-general__item__thumb">
							<img src="{{theme.link}}/assets/images/amen2.png" class="w-100">
						</div>
						<div class="block-general__item__detail">
							<p>Lorem ipsum dolor sit amet conse ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
						</div>
					</div>

					<div class="block-general__item col-sm-6">
						<div class="block-general__item__thumb">
							<img src="{{theme.link}}/assets/images/amen1.jpg" class="w-100">
						</div>
						<div class="block-general__item__detail">
							<p>Lorem ipsum dolor sit amet conse ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
						</div>
					</div>

					<div class="block-general__item col-sm-6">
						<div class="block-general__item__thumb">
							<img src="{{theme.link}}/assets/images/amen3.jpg" class="w-100">
						</div>
						<div class="block-general__item__detail">
							<p>Lorem ipsum dolor sit amet conse ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
{% endblock %}

{% block body_js %}{% endblock %}
