{% extends "layouts/master.twig" %}

{% block content %}
	<main class="main-content">
		<div class="container">
			<section class="block-retail block-general">
				<div class="row">
					<div class="block-general__item col-sm-4">
						<div class="block-general__item__thumb">
							<img src="{{theme.link}}/assets/images/fpo1.png">
						</div>
						<div class="block-general__item__detail">
							<p class="block-general__item__title">COMPANY NAME</p>
							<p>Lorem ipsum dolor sit amet conse ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
						</div>
					</div>

					<div class="block-general__item col-sm-4">
						<div class="block-general__item__thumb">
							<img src="{{theme.link}}/assets/images/fpo2.png">
						</div>
						<div class="block-general__item__detail">
							<p class="block-general__item__title">COMPANY NAME</p>
							<p>Lorem ipsum dolor sit amet conse ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
						</div>
					</div>

					<div class="block-general__item col-sm-4">
						<div class="block-general__item__thumb">
							<img src="{{theme.link}}/assets/images/fpo1.png">
						</div>
						<div class="block-general__item__detail">
							<p class="block-general__item__title">COMPANY NAME</p>
							<p>Lorem ipsum dolor sit amet conse ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
						</div>
					</div>

					<div class="block-general__item col-sm-4">
						<div class="block-general__item__thumb">
							<img src="{{theme.link}}/assets/images/fpo2.png">
						</div>
						<div class="block-general__item__detail">
							<p class="block-general__item__title">COMPANY NAME</p>
							<p>Lorem ipsum dolor sit amet conse ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
						</div>
					</div>

					<div class="block-general__item col-sm-4">
						<div class="block-general__item__thumb">
							<img src="{{theme.link}}/assets/images/fpo2.png">
						</div>
						<div class="block-general__item__detail">
							<p class="block-general__item__title">COMPANY NAME</p>
							<p>Lorem ipsum dolor sit amet conse ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
						</div>
					</div>

					<div class="block-general__item col-sm-4">
						<div class="block-general__item__thumb">
							<img src="{{theme.link}}/assets/images/fpo1.png">
						</div>
						<div class="block-general__item__detail">
							<p class="block-general__item__title">COMPANY NAME</p>
							<p>Lorem ipsum dolor sit amet conse ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
{% endblock %}

{% block body_js %}{% endblock %}
