{{get_svg_icon('logo-white', '0 0 216.33 131.97')}}
<address>
    <a href="https://www.google.com/maps/dir//{{global.street}}+{{global.city}}+{{global.state}}" target="_blank" style="color: inherit; font-weight: 400;">
        {{global.street}}, {{global.city}}, {{global.state}} {{global.zip}}
    </a><br/>
    {% if global.phone %}
        <a href="tel:{{global.phone|replace({' ': ''})}}" title="phone">
            {{global.phone|replace({' ': '.'})}}
        </a>
    {% endif %}
</address>
<ul class="block-social">
    {% if global.facebook %}
    <li>
        <a href="{{global.facebook}}" title="facebook" target="_blank"><i class="fa fa-facebook-f"></i></a>
    </li>
    {% endif %}
    {% if global.twitter %}
    <li>
        <a href="{{global.twitter}}" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
    {% endif %}
</ul>