{% if fn('is_front_page') %}

    <header class="block-header">
        {% include 'partials/header-top.twig' %}

        <div class="block-header__detail">
            <div class="block-header__logo">
                <a href="{{site.url}}">
                	<span style="background-image: url('{{global.logo}}')">{{site.title}}</span>
                </a>
            </div>
        </div>
        <a href="#block-life" title="" class="scroll-next-section"><i class="fa fa-caret-down"></i></a>

        <div id="slider-vertical" data-scroll-target="img-banner" class="hidden-xs"></div>
    </header>

{% else %}

    <header class="block-header block-header--internal">
        {% include 'partials/header-top.twig' %}

        {% include 'partials/header-bottom.twig' %}

        <a href="#block-life" title="" class="scroll-next-section"><i class="fa fa-caret-down"></i></a>
    </header>

{% endif %}


<div class="quick-search">
    <div class="title">{{global.title_qs}}</div>
    {% for item in global.item_qs %}
        <a href="{{item.link}}">
            {{item.label}}
            <span class="description">{{item.description}}</span>
        </a>
    {% endfor %}
</div>