<div class="block-header__detail">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset1">
                <h1 class="text-uppercase">{{ post.post_title }}</h1>
                <p>{{ post.get_field('pgs_excerpt') }}</p>

                {% set contentblock = post.get_field('pgs_content_block') %}
                {% set customlinks = post.get_field('pgs_custom_links_on_banner') %}
                {% set chkcontentblock = contentblock and contentblock|length > 1 %}
                {% if chkcontentblock or customlinks %}
                <ul class="list-default text-uppercase">
                    {% for custom in customlinks %}
                    <li>
                        <a href="{{ custom.link }}" class="scroll-content-block"{% if custom.target == 'new' %} target="_blank"{% endif %}>
                            {{ custom.text }}
                        </a>
                    </li>
                    {% endfor %}

                    {% for content in contentblock %}
                    <li><a href="#{{ content.acf_fc_layout ~ '-' ~ loop.index }}" class="scroll-content-block">{{ content.anchor_text }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                
                {% set customlinksicon = post.get_field('pgs_custom_links_on_banner_icon') %}
                {% if customlinksicon %}
                    <div class="res-list">
                        {% for custom in customlinksicon %}
                        <div class="res-item">
                            <a href="{{ custom.link }}"{% if custom.target == 'new' %} target="_blank"{% endif %}>
                                <img src="{{custom.icon.url | resize( 65, 60, 'center') }}" alt="">
                            </a>
                            <a class="res-title" target="_blank" href="{{resident.link}}">{{ custom.text }}</a>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>