<nav class="nav">
	<div class="nav__bar">
		<button class="nav__button">
			<span class="nav__button-icon">
				{{get_svg_icon('menu-icon-close', '0 0 17.68 17.68')}}
				{{get_svg_icon('menu-icon', '0 0 13 24')}}
			</span>

			<span class="nav__button-text"></span>
		</button>

		<div class="visible-custom-xs phone-local">
			{% if global.phone %}
				<a href="tel:{{global.phone|replace({' ': ''})}}">{{get_svg_icon('phone', '0 0 21.12 21.06')}}</a>
	        {% endif %}
            <a href="{{ global.location_link }}">{{get_svg_icon('local', '0 0 19.82 24.93')}}</a>
		</div>

		<a href="{{site.url}}" class="logo-text">
			{{get_svg_icon('logo-text', '0 0 30 32.15')}}
		</a>
	</div>

	<div class="nav__content text-center">
		<div class="row">
			<div class="col-sm-6">
				<ul class="main-nav">
					{% for item in menu.get_items %}
					<li class="nav-main-item {{item.classes | join(' ')}}">
						<a class="nav-main-link" href="{{item.link}}">{{item.title}}</a>
						{% if item.get_children %}
						<ul class="nav-drop">
							{% for child in item.get_children %}
							<li class="nav-drop-item">
								<a href="{{child.link}}">{{child.title}}</a>
							</li>
							{% endfor %}
						</ul>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</div>	

			<div class="col-sm-6">
				<div class="box-address">
                    {% include "partials/address.twig" %}
                </div>
			</div>
		</div>
	</div>
</nav>