{% block html_head_container %}
  <!doctype html>
  <!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
  <!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
  <!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
  <!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
  <head>
    <meta charset="{{site.charset}}">

    <title>{% if post.get_field('title') %}{{post.get_field('title')}}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="shortcut icon" href="{{site.theme.uri}}/assets/images/favicon.png">

    <meta name="description" content="{% if post.get_field('meta_description') %}{{post.get_field('meta_description')}}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{{post.get_field('meta_keywords')}}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    {{ global.google_analytics }}
    {{ global.tracking_codes }}
    {{function('wp_head')}}

    {% block head %}
    {% endblock %}
  </head>
{% endblock %}

  <body class="{{body_class}}">

    <div class="wrap-pages" style="overflow: hidden;">

    {{print_svg_sprite()}}

    {% block header %}
      {% include 'partials/header.twig' %}
    {% endblock %}

    {% block content %}
      Sorry, no content
    {% endblock %}

    {% block footer %}
      {% include 'partials/footer.twig' %}
    {% endblock %}

    {{ function('wp_footer') }}

    {% block body_js %}

    {% endblock %}

    <script>
        var properties = [
            {
                "id":"0",
                "name":"{{ global.name }}",
                "address":"{{ global.street }}",
                "city":"{{ global.city }}",
                "state":"{{ global.state }}",
                "zip":"{{ global.zip }}",
                "phone":"{{ global.phone }}",
                "latitude":"{{ global.map_location.lat }}",
                "longitude":"{{ global.map_location.lng }}"
            }
        ];
        var site_url = "{{ theme.link }}";
        var google_map_styler = {{ global.google_map_styler }};
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ global.api_key }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.24/gmaps.min.js"></script>
    <script type="text/javascript" src="{{script_url('maps')}}"></script>

    </div>
    
  </body>
</html>
